
<div class="ui small inverted menu">
  <div class="ui container">
    <a><%= link_to 'Czat', root_path, class:"item" %></a>
    <a class="item">
      Wiadomości
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Konto <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to 'Wyloguj', logout_path, method: :delete, class: "item" %>
          <% else %>
            <%= link_to 'Zaloguj', login_path, class:"item" %>
            <%= link_to 'Zapisz się!', login_path, class:"item" %>
          <% end %>
        </div>
      </div>
      <% if !logged_in? %>
        <div class="item">
          <%= link_to 'Zaloguj', login_path, class:"ui primary button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>